/* Change notification circle background color */
.button-badge {
  background: #000 !important;
}

/* Removes unnecessary horizontal space from tabs  */
#tabs-container:not(.none).top {
  padding-right: 0 !important;
}

/* Removes unnecessary top space from title bars  */
#header {
  min-height: 0 !important;
}
#tabs-tabbar-container.top {
  padding-top: 0 !important;
}

/* Hides tab and address bar buttons */
.newtab,
.BookmarkButton-Button,
.extensionPopupIcons {
  opacity: 0;
  max-height: 23px;
}
/* Removes buttons */
/* .window-maximize,
.window-close, */
button.vivaldi,
.ContentBlocker-Control,
.OmniDropdown {
  display: none;
}
/* .window-minimize,
.window-maximize,
.window-close {
  display: none !important;
} */

/* Edits mosaic tiles */
#browser {
  --colorHighlightBgFaded: transparent !important;
}
/* .mosaic-tile {
  margin: 0.2rem;
} */
.tiled.webpageview,
.tiled.webpageview.active,
.tiled.webpageview:not(.active) {
  box-shadow: none;
}

/* Removes tab bar jumping when address bar is opened  */
/* .address-bottom #tabs-tabbar-container.top,
.address-bottom-off #tabs-tabbar-container.top,
.address-top-off #tabs-tabbar-container.top {
  border-bottom-width: 0;
}
.address-top .mainbar > .toolbar-mainbar {
  border-bottom: 0;
} */
